@font-face {
    font-family: Barlow-Regular;
    src: url("../fonts/Barlow-Regular.woff2");
}

@font-face {
    font-family: Barlow-Italic;
    src: url("../fonts/Barlow-Italic.woff2");
}

@font-face {
    font-family: Barlow-Bold;
    src: url("../fonts/Barlow-Bold.woff2");
}


h1 {
    color: white;
}

header {
    display: flex;
    padding: 1px;
    text-align: left;
    background-color: #2E6B80;
    width: 100%;
    color: white;
    font-family: Barlow-Bold;
    font-size: 16px;
    flex-direction: row;
    align-items: center;
}

header .uca-logo{
    padding: 10px;
    margin-right: auto;
    height: 75px;
    width: auto;
}
